<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="connectionstring" connectionString="Data Source=www.hengdianworld.com,1433;Initial Catalog=nbhz;Persist Security Info=True;User ID=sa;Password=hengdian!@#" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <location path="Manage.aspx">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>

</configuration>
